* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 80px;
}

h3 {
    font-size: 45px;
}

h4 {
    font-size: 25px;
    word-spacing: 3px;
}

img {
    width: 85%;
}

button {
    margin-top: 20px;
    border: none;
}

ul { 
    display: flex;
}

section {
    min-height: 200px;
}

.btn-try-card {
    background-color: #0561FF;
    border: 1px solid #0561FF;
    color: white;
    padding: 10px;
    text-align: center;
}

.btn-try-card:hover{
    background-color: #fff;
    border: 1px solid #0561FF;
    color: #0561FF;
    padding: 10px;
    text-align: center;
}

.margin-text-card {
    margin: 5px 0;
}

.margin-top-card {
    margin: 30px 0;
}

.padding-top-card {
    padding-top: 20px;
}

.margin-right-text-card {
    margin-right: 5px;
}

.d-flex-col {
    flex-direction: column;
}

.d-flex-row {
    flex-direction: row;
}

li {
    list-style-type: none;
}

a {
    color: #0561FF;
}

.decoration {
    padding: 0 15px;
    text-decoration: none;
}

.logo {
    padding-right: 15px;
}

.font-items {
    font-size: 14px;
}

.position-left {
    justify-content: start;
    align-items: center;
}

.padding-header {
    padding: 15px;
}

.padding-header-left {
    padding: 15px;
}

.padding-card {
    padding: 20px;
}

.position-right {
    justify-content: end;
    align-items: center;
}

.btn-start, .btn-start-try  {
    background-color: #0561FF;
    border: 1px solid #0561FF;
    color: white;
    padding: 5px;
}

.btn-start:hover {
    background-color: transparent;
    color: #0561FF;
    border: 1px solid #0561FF;
}

.btn-start-try:hover {
    background-color: white;
    color: #0561FF;
}

.text-height {
    padding-top: 20px;
}

.button-space {
    padding: 10px;
}

.text-card {
    font-size: 13px;
}

.bold {
    font-weight: 800;
}

.lightgrey {
    color: rgb(163, 163, 163);
}

.font-white {
    color: white;
}

.font-white:hover {
    color: black;
}

.font-black {
    color: black;
}

.text {
    font-size: 16px;
}

.center {
    text-align: center;
}

.padding-text {
    padding: 10px 0;
}

.border-lightgrey {
    border: 1px solid lightgrey;
}

.border-lightgrey-2 {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.border-bottom {
    border-bottom: 1px solid lightgrey;
}

.border-bottom-card {
    border-bottom: 1px solid rgb(163, 163, 163);
    width: 20%;
}

.space {
    line-height: 20px;
}

.container-header {
    max-width: 2000px;
    margin: 0 auto;
    width: 100%;
}

.container-main-title {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.container-logos {
    margin: 0 auto;
    width: 100%;
    background-color: dodgerblue;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.bg-lightblue {
    background-color: #B4D0E7;
    padding: 140px 0;
}

.bg-yellowgreen {
    background-color: yellowgreen;
}

.bg-orange {
    background-color: orange;
}

.bg-lightgrey{
    background-color: white;
    padding: 100px 0;
}

.bg-black {
    background-color: black;
}

.bg-red {
    background-color: rgb(241, 109, 109);
}

.row {
    display: flex;
    width: 100%;
}

.padding-top {
    padding-top: 60px;
}

.padding {
    padding: 40px 0;
}

.padding-card-btn {
    padding-top: 20px;
    padding-right: 20px;
}

.padding-title-h3 {
    padding: 140px 0;
}

.margin-right {
    margin-right: 50px;
}

.gap {
    gap: 30px;
}

.d-flex-wrap {
    flex-wrap: wrap;
}

.col-100 {
    width: 100%;
}

.col-70 {
    width: 70%;
}

.col-77 {
    width: 77%;
}

.col-60 {
    width: 60%;
}

.col-50 {
    width: 50%;
}

.col-40 {
    width: 40%;
}

.col-33 {
    width: calc(100% / 3 - 20px);
}

.col-30 {
    width: 30%;
}

.col-20 {
    width: 20%;
}

.col-17 {
    width: 17%;
}

.col-33-nogap {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.content-header {
    height: 60px;
}
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* !IMPORTANTE TOGLIERE L'ALTEZZA DAL CONTENUTO */
.height {
    height: 300px;
}

.height-2 {
    height: 100px;
}

.height-3 {
    height: 500px;
}
/* !IMPORTANTE TOGLIERE L'ALTEZZA DAL CONTENUTO */

.border {
    border: 1px dashed black;
}

.squares-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 50%;
    height: calc(100vw / 6);
    position: relative;
}

.sq-color {
    width: 260px;
    height: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #A2D39A;
}

.logos {
    width: 50%;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.design-it {
    background-color: #D2E9CD;
}

.asu {
    background-color: #61092B;
}

.uf-florida {
    background-color: #0093CE;
}

.topps {
    background-color: #FF1B1B;
}

.wbr {
    background-color: #D5011E;
}

.hearst {
    background-color: #B4D0E7;
}

.lonely-planet {
    background-color: #0D2481;
}

.clear-channel {
    background-color: #FFD82F;
}

.bg-grey {
    background-color: #F5F5F5;
}

.logomain {
    width: 15%;
    position: absolute;
}

.padding-logomain {
    padding: 40px;
}

.border-bottom-logomain {
    border-bottom: 1px solid #d2d2d2;
    width: 18%;
    padding-bottom: 100px;
    margin-left: 40px;
}

.radio {
    height: 30px;
    width: 30px;
}

.p-relative {
    position: relative;
}

.btn-try-card-p-absolute {
    position: absolute;
    top: 20px;
    right: 20px;
}


.padding-img-partner {
    padding: 120px 0;
}

.padding-text-img-partner {
    padding: 20px 20px;
}

.btn-search-partner {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

.btn-search-partner:hover {
    background-color: black;
    border: border: 1px solid black;
    color: white;
}

.img-partner, .img-db-business {
    width: 100%;
}

.grey {
    color: black;
    padding: 0 40px;
    padding-top: 60px;
}

.d-flex-col-60 {
    display: flex;
    justify-content: start;
    align-items: center;
}

.bordeaux {
    color: #61092B;
}

.btn-try-card-white {
    background-color: white;
    border: 1px solid white;
    color: black;
    padding: 10px;
    text-align: center;
}

.btn-try-card-white:hover {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 10px;
    text-align: center;
}

hr {
    border: 0.5px solid rgb(204, 204, 204);
}

.padding-bottom-quest{
    padding-bottom: 70px;
}

.quest {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-pad-right {
    padding-right: 40px;
}