* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header {
    background-color: #fff;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
} */

.container-header {
    max-width: 2000px;
    margin: 0 auto;
    background-color: aquamarine;
    width: 100%;
}

.container-main-title {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.container-logos {
    margin: 0 auto;
    width: 100%;
    background-color: dodgerblue;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.bg-lightblue {
    background-color: #B4D0E7;
    padding: 20px 0;
}

.bg-yellowgreen {
    background-color: yellowgreen;
}

.bg-orange {
    background-color: orange;
}

.bg-lightgrey{
    background-color: lightgray;
    padding: 20px 0;
}

.bg-black {
    background-color: black;
}

.bg-red {
    background-color: rgb(241, 109, 109);
}

.row {
    display: flex;
    width: 100%;
}

.padding-top {
    padding-top: 50px;
}

.padding {
    padding: 40px 0;
}

.gap {
    gap: 30px;
}

.d-flex-wrap {
    flex-wrap: wrap;
}

.col-100 {
    width: 100%;
}

.col-60 {
    width: 60%;
}

.col-50 {
    width: 50%;
}

.col-40 {
    width: 40%;
}

.col-33 {
    width: calc(100% / 3 - 20px);
}

.col-20 {
    width: 20%;
}

.col-17 {
    width: 17%;
}

.col-33-nogap {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.content-header {
    height: 60px;
}

.content {
    
}

/* !IMPORTANTE TOGLIERE L'ALTEZZA DAL CONTENUTO */
.height {
    height: 300px;
}

.height-2 {
    height: 100px;
}

.height-3 {
    height: 500px;
}
/* !IMPORTANTE TOGLIERE L'ALTEZZA DAL CONTENUTO */

.border {
    border: 1px dashed black;
}

.square {
    background-color: coral;
    width: 100%;
    height: calc(66.69vw / 4);
}



